.DS_Store
.atom/
.dart_tool/
.idea/
**/android/gradle/**
gradlew
**/gradlew.bat
.packages
.pub/
pubspec.lock

build/
ios/.generated/
packages
**/.flutter-plugins-dependencies
**/.last_build_id
**/flutter_export_environment.sh
